@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-ms-expand {
  display: none;
}


::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #ffdcb7; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffa037; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF6900; 
}


body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.title{
  font-size: clamp(3.625rem, 3rem + 3.125vw, 8rem);
}

.subtitle{
  font-size: clamp(1.125rem, 1.0357rem + 0.4464vw, 1.75rem);
}

.content-layer {
  position: relative;
  z-index: 200;
  min-height: 100vh;
  width: 100vw;
  overflow-y: auto;
  will-change: transform; 
}
.fundo_inicio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    45deg, 
    #FFEDD5 0%, 
    #FED7AA 50%, 
    #FDBA74 100% 
  );
  background-size: 200% 200%;
  animation: gradientShift 20s ease infinite;
  z-index: -3;
  pointer-events: none;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.page_texture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: 
  url("./assets/img/gradiente.png"),
  linear-gradient(160deg, #FCD34D88 0%, #FBBF24AA 100%);
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  mix-blend-mode: soft-light;
  z-index: -1;
  pointer-events: none;
  opacity: 0.7;
}

.fundo_vinheta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle at 50% 50%,
    transparent 20%,
    #FDBA74 90%
  );
  z-index: -2;
  pointer-events: none;
  transition: opacity 0.5s;
}

@layer base {
  :root {
    --radius: 0.5rem; 
  } 
}

@layer components {
  .input {
    @apply flex h-9 w-full rounded-md border font-tertiary border-orange-500 bg-orange-200 px-3 py-[25px] text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-neutral-950 placeholder:text-neutral-500 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm dark:border-neutral-800 dark:file:text-neutral-50 dark:placeholder:text-neutral-400 text-black;
  }

}